@using Yoga.Web.Common
@{
    ViewBag.Title = "Báo cáo thu chi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin báo cáo</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="Year">Từ ngày</label>
                    <div class="input-group date">
                        <input type="text" name="FromDate" id="FromDate" class="form-control" placeholder="Từ ngày" value="">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="Month">Đến ngày</label>
                    <div class="input-group date">
                        <input type="text" name="ToDate" id="ToDate" class="form-control" placeholder="Đến ngày" value="">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="button" class="btn brn-default" onclick="getReport();"><i class="fa fa-search"></i> Lấy báo cáo</button>
                </div>
            </div>
        </form>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">Báo cáo thu</a></li>
    <li><a data-toggle="tab" href="#tab2">Báo cáo chi</a></li>
</ul>

<div class="tab-content">
    <div id="tab1" class="tab-pane fade in active">
        <table id="dataTableImport" class="display">
            <thead>
                <tr>
                    <th width="20px;">#</th>
                    <th>Tên HV</th>
                    <th>Phí/Buổi</th>
                    <th>Số buổi</th>
                    <th>Phí HLV/Buổi</th>
                    <th>Tổng thu</th>
                    <th>Tổng chi</th>
                    <th>Số tiền còn</th>
                    <th>Ngày thanh toán</th>
                    <th>Ngày Thanh toán HLV</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Tên HV</th>
                    <th>Phí/Buổi</th>
                    <th>Số buổi</th>
                    <th>Phí HLV/Buổi</th>
                    <th>Tổng thu</th>
                    <th>Tổng chi</th>
                    <th>Số tiền còn</th>
                    <th>Ngày thanh toán</th>
                    <th>Ngày Thanh toán HLV</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div id="tab2" class="tab-pane fade">
        <table id="dataTableExport" class="display">
            <thead>
                <tr>
                    <th width="20px;">#</th>
                    <th>Nội dung</th>
                    <th>Tổng tiền</th>
                    <th>Ngày tạo</th>
                    <th>Người chi</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Nội dung</th>
                    <th>Tổng tiền</th>
                    <th>Ngày tạo</th>
                    <th>Người chi</th>
                    <th>Ghi chú</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#FromDate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        })
        .on('changeDate', function (e) {
            $('#ToDate').datepicker('setStartDate', e.date);
        });

        $('#ToDate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        $('#dataTableImport').DataTable({
            serverSide: false,
            ajax: {
                "url": getAjaxSourceImport(),
                "dataSrc": ""
            },
            "pageLength": 25,
            columns: [
                { "data": "OrderId" },
                { "data": "CustomerName" },
                { "data": "Price" },
                { "data": "NumsOfDay" },
                { "data": "PriceForTrainer" },
                { "data": "TotalPaid" },
                { "data": "TotalPaidForTrainer" },
                { "data": "Total" },
                { "data": "CreatedDate" },
                { "data": "PaymentDate" },
            ],
            fnPreDrawCallback: function (settings) {
            },
            fnDrawCallback: function (settings) {
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData.OrderId));
                $('td:eq(8)', nRow).html(formateDate(parseJsonDate(aData.CreatedDate)));
                $('td:eq(9)', nRow).html(formateDate(parseJsonDate(aData.PaymentDate)));
                $('td:eq(2)', nRow).html($.number(aData.Price, 0));
                $('td:eq(4)', nRow).html($.number(aData.PriceForTrainer, 0));
                $('td:eq(5)', nRow).html($.number(aData.TotalPaid, 0));
                $('td:eq(6)', nRow).html($.number(aData.TotalPaidForTrainer, 0));
                $('td:eq(7)', nRow).html($.number(aData.Total, 0));
            },
        });

        $('#dataTableExport').DataTable({
            serverSide: false,
            ajax: {
                "url": getAjaxSourceExport(),
                "dataSrc": ""
            },
            "pageLength": 25,
            columns: [
                { "data": "OrderInternalId" },
                { "data": "Content" },
                { "data": "Total" },
                { "data": "CreatedDate" },
                { "data": "Payer" },
                { "data": "Note" },
            ],
            fnPreDrawCallback: function (settings) {
            },
            fnDrawCallback: function (settings) {
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData.OrderInternalId));
                $('td:eq(3)', nRow).html(formateDate(parseJsonDate(aData.CreatedDate)));
                $('td:eq(2)', nRow).html($.number(aData.Total, 0));
            },
        });
    });

    function getAjaxSourceImport() {
        return '/Report/GetImportList?fromDate=' + $('#FromDate').val() + '&toDate=' + $('#ToDate').val();
    }

    function getAjaxSourceExport() {
        return '/ClassInfo/GetExportList?fromDate=' + $('#FromDate').val() + '&toDate=' + $('#ToDate').val();
    }
</script>
