@using Yoga.Web.Common
@{
    ViewBag.Title = "Quản lý Hóa đơn trung tâm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">@ViewBag.Title</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin tìm kiếm</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="OrderInternalName">Người tạo</label>
                    @Html.DropDownList("OperatorId", CategoryReponsitory.GetOperatorSelectList("", "--- Chọn ---"), new { @class = "form-control" })
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn brn-default" onclick="searchOrderInternal();"><i class="fa fa-search"></i>Tìm kiếm</button>
                    <button type="button" class="btn brn-primary" onclick="updateOrderInternal();"><i class="fa fa-plus-circle"></i>Thêm hóa đơn</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table id="dataTable" class="display">
    <thead>
        <tr>
            <th width="50px;">#</th>
            <th>Người chi</th>
            <th>Ngày tạo</th>
            <th>Tổng tiền</th>
            <th>Nội dung</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Người chi</th>
            <th>Ngày tạo</th>
            <th>Tổng tiền</th>
            <th>Nội dung</th>
            <th>Ghi chú</th>
        </tr>
    </tfoot>
</table>

<script>

    $(document).ready(function () {
        $("#OperatorId").select2();
    });

    $(document).ready(function () {

        $('#dataTable').DataTable({
            serverSide: false,
            ajax: {
                "url": getAjaxSource(),
                "dataSrc": ""
            },
            "pageLength": 25,
            columns: [
                { "data": "OrderInternalId" },
                { "data": "Payer" },
                { "data": "CreatedDate" },
                { "data": "Total" },
                { "data": "Content" },
                { "data": "Note" },
            ],
            fnPreDrawCallback: function (settings) {
            },
            fnDrawCallback: function (settings) {
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData.OrderInternalId));
                $('td:eq(2)', nRow).html(formateDate(parseJsonDate(aData.CreatedDate)));
                $('td:eq(3)', nRow).html($.number(aData.Total, 0));
            },
        });
    });

    function getAjaxSource() {
        return '/OrderInternal/GetList?operatorId =' + $('#OperatorId').val();
    }

    function reloadTableOrderInternal() {
        var oTable = $('#dataTable').DataTable();
        oTable.ajax.url(getAjaxSource());
        oTable.ajax.reload();
    }

    function setIconVisibility(id) {
        var editString = '<a class="action-icon" style="color:#07078C" href= "javascript:void(0)" onclick="updateOrderInternal(' + id + ')"><span class="glyphicon glyphicon-edit" title="Sửa"></span></a>  ';
        var delString = '<a class="action-icon" style="color:#E91E63" href= "javascript:void(0)" onclick="deleteOrderInternal(' + id + ')" ><span class="glyphicon glyphicon-remove-circle" title="Xóa"></span></a>';
        return editString + delString;
    }

    function searchOrderInternal() {
        reloadTableOrderInternal();
    }

    function updateOrderInternal(id) {
        $.ajax({
            url: '@Url.Action("Edit", "OrderInternal")/?orderInternalId=' + id,
            type: 'POST',
            success: function (data) {
                showModalCommon("Thông tin Hóa đơn trung tâm", data);
            },
            error: function () {
                swal("Rất tiếc", "Vui lòng kiểm tra Internet!", "error");
            }
        });
    }

    function deleteOrderInternal(id) {
        swal({
            title: "Bạn muốn xóa?",
            text: "Bạn thực sự muốn xóa Thông tin này!",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Xóa!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
        function () {
            $.ajax({
                url: '@Url.Action("Delete", "OrderInternal")?OrderInternalId=' + id,
                type: 'POST',
                success: function (data) {
                    if (data.Result) {
                        swal("Thông báo", 'Xóa thành công', "success");
                        reloadTableOrderInternal();
                    }
                    else {
                        swal("Thông báo", data.ErrorString, "error");
                    }
                },
                error: function () {
                    swal("Rất tiếc", "Vui lòng kiểm tra Internet!", "error");
                }
            });
        });

    }

</script>
