<ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="@Url.Action("Index","Customer")">Danh sách khách hàng</a></li>
    <li role="presentation"><a href="@Url.Action("Index","Province")">Danh mục Tỉnh</a></li>
    <li role="presentation"><a href="@Url.Action("Index", "Trainer")">Huấn luyện viên</a></li>
    <li role="presentation"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
    <li role="presentation"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
    <li role="presentation"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>
