@{
    ViewBag.Title = "Danh sách Dịch vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clearfix">
	<h2 class="page-title pull-left">@ViewBag.Title</h2>
	<button class="btn btn-success dropdown-toggle pull-right" onclick="updateService();"><i class="fa fa-plus-circle"></i> Thêm Dịch vụ</button>
</div>
<table id="dataTable" class="display">
    <thead>
        <tr>
            <th width="100px;">#</th>
            <th>Tên Dịch vụ</th>
            <th>Giá</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th width="100px;">#</th>
            <th>Tên Dịch vụ</th>
            <th>Giá</th>
            <th>Trạng thái</th>
        </tr>
    </tfoot>
</table>

<script>
    $(document).ready(function () {

        $('#dataTable').DataTable({
            serverSide: false,
            ajax: {
                "url": getAjaxSource(),
                "dataSrc": ""
            },
            "pageLength": 25,
            columns: [
                { "data": "ServiceId" },
                { "data": "ServiceName" },
                { "data": "Price" },
                { "data": "Status.StatusName" },
            ],
            fnPreDrawCallback: function (settings) {
            },
            fnDrawCallback: function (settings) {
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData.ServiceId));
            },
        });
    });

    function getAjaxSource() {
        return '/Service/GetList';
    }

    function reloadTableService() {
        var oTable = $('#dataTable').DataTable();
        oTable.ajax.url(getAjaxSource());
        oTable.ajax.reload();
    }

    function setIconVisibility(id) {
        var editString = '<a class="action-icon" style="color:#07078C" href= "javascript:void(0)" onclick="updateService(' + id + ')"><span class="glyphicon glyphicon-edit" title="Sửa"></span></a>  ';
        var delString = '<a class="action-icon" style="color:#E91E63" href= "javascript:void(0)" onclick="deleteService(' + id + ')" ><span class="glyphicon glyphicon-remove-circle" title="Xóa"></span></a>';
        return editString + delString;
    }

    function updateService(id) {
        $.ajax({
            url: '@Url.Action("Edit", "Service")/?serviceId=' + id,
            type: 'POST',
            success: function (data) {
                showModalCommon("Thông tin Dịch vụ", data);
            },
            error: function () {
                swal("Rất tiếc", "Vui lòng kiểm tra Internet!", "error");
            }
        });
    }

    function deleteService(id) {
        swal({
            title: "Bạn muốn xóa?",
            text: "Bạn thực sự muốn xóa Thông tin này!",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Xóa!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
        function () {
            $.ajax({
                url: '@Url.Action("Delete", "Service")?serviceId=' + id,
                type: 'POST',
                success: function (data) {
                    if (data.Result) {
                        swal("Thông báo", 'Xóa thành công', "success");
                        reloadTableService();
                    }
                    else {
                        swal("Thông báo", data.ErrorString, "error");
                    }
                },
                error: function () {
                    swal("Rất tiếc", "Vui lòng kiểm tra Internet!", "error");
                }
            });
        });

}

</script>
