@{
    ViewBag.Title = "Danh sách tỉnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">@ViewBag.Title</h2>
<button class="btn brn-primary" onclick="updateProvince();">Thêm tỉnh</button>
<table id="dataTable" class="display">
    <thead>
        <tr>
            <th width="100px;">#</th>
            <th>Tên tỉnh</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Tên tỉnh</th>
        </tr>
    </tfoot>
</table>

<script>
    $(document).ready(function () {

        $('#dataTable').DataTable({
            serverSide: false,
            ajax: {
                "url": "/Province/GetList/",
                "dataSrc": ""
            },
            "pageLength": 25,
            columns: [
                { "data": "ProvinceId" },
                { "data": "ProvinceName" },
            ],
            fnPreDrawCallback: function (settings) {
            },
            fnDrawCallback: function (settings) {
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData.ProvinceId));
            },
        });
    });

    function getAjaxSource() {
        return '/Province/GetList';
    }

    function reloadTableProvince() {
        var oTable = $('#dataTable').DataTable();
        oTable.ajax.reload();
    }

    function setIconVisibility(id) {
        var editString = '<a class="action-icon" style="color:#07078C" href= "javascript:void(0)" onclick="updateProvince(' + id + ')"><span class="glyphicon glyphicon-edit" title="Sửa"></span></a>  ';
        var delString = '<a class="action-icon" style="color:#E91E63" href= "javascript:void(0)" onclick="deleteProvince(' + id + ')" ><span class="glyphicon glyphicon-remove-circle" title="Xóa"></span></a>';
        return editString + delString;
    }

    function updateProvince(id) {
        $.ajax({
            url: '@Url.Action("Edit", "Province")/?provinceId=' + id,
            type: 'POST',
            success: function (data) {
                showModalCommon("Thông tin tỉnh", data);
            },
            error: function () {
                swal("Rất tiếc", "Vui lòng kiểm tra Internet!", "error");
            }
        });
    }

    function deleteProvince(id) {
        swal({
            title: "Bạn muốn xóa?",
            text: "Bạn thực sự muốn xóa Thông tin này!",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Xóa!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
        function () {
            $.ajax({
                url: '@Url.Action("Delete", "Province")?provinceId=' + id,
                type: 'POST',
                success: function (data) {
                    if (data.Result) {
                        swal("Thông báo", 'Xóa thành công', "success");
                        reloadTableProvince();
                    }
                    else {
                        swal("Thông báo", data.ErrorString, "error");
                    }
                },
                error: function () {
                    swal("Rất tiếc", "Vui lòng kiểm tra Internet!", "error");
                }
            });
        });

}

</script>
